{ "_id" : { "$oid" : "535973bd7ceffe3485c5f351" }, "_cls" : "EnglishTweet", "tweetid" : 459428484847501312, "userid" : 249193042, "text" : "How has Ronnie got 29% long pot success. That's about the rate I have after a few beers on a Sunday", "geo" : [ 53.68626336, -2.71791747 ], "description" : "Pretty miserable, plays for @leylandorientfc\nPNEFC, Patriots, Aggies" }
